.megamenu-wrapper {
    background-color: rgba(156, 39, 176, 0.3);
}
.megamenu-wrapper li strong {
	color: darkmagenta;
}
body a:hover{
    color: rgba(126, 9, 146, 0.99)!important;
}
#cart .cart-heading,
#header .button-search,
.scrollup,
.copyright,
.button,
.product-grid .product .product-icon,
.product-info .product-icon,
.product-grid .product .image .quickview a,
.htabs a.selected{
    background-color: rgba(156, 39, 176, 0.46);
}
.button,
.htabs a.selected{
    border: 1px solid rgba(156, 39, 176, 0.3);
}
div.wishlist > a,
div.compare > a,
div.quickview > a {
    border: 1px solid rgba(156, 39, 176, 0.3) !important;
}

#header .button-search:hover,
.button:hover,
.htabs a.selected:hover,
.product-info .product-icon:hover,
.htabs a:hover{
    color: #fff !important;
    background-color: rgba(156, 39, 176, 0.67);
}
a.button:hover span{
    color: #fff !important;
}
ul.megamenu > li:hover{
    background-color: rgba(156, 39, 176, 0.67);
}
ul.megamenu li .sub-menu .content {
	
    background: rgba(156, 39, 176, 0.67);
	border: none;
}
ul.megamenu li .sub-menu .content .hover-menu li > a {
	color: #fff !important;
}
ul.megamenu li .sub-menu .content .hover-menu li > a:hover {
    background-color: rgba(156, 39, 176, 0.67);
}
ul.megamenu > li:hover strong{
    color: #fff;
}
.filter-product .filter-tabs ul::before{
    border-bottom: 2px solid rgba(156, 39, 176, 0.3);
}
.megamenu-wrapper strong,
#cart .cart-heading a{
    color: #090300;
}
.box-content.box-information{
    border: none;
}
.box-information > ul > li > a{
    font-size: 16px;
}
.panel-heading,
.ulogin_form{
    display: inline-block;
    vertical-align: middle;
}
.panel{
    background-color: #f5f5f5;
}
.product-grid .product .image .quickview a:hover,
.product-grid .product .product-icon:hover{
    background-color: #fff;
}
.copyright, .copyright a{
    color: #fff;
}
#header .button-search:hover,
body a.button:hover,
.checkout a.button,
.htabs a.selected:hover,
.product-info .product-icon:hover,
.htabs a:hover,
.right a.button:hover{
    color: #fff!important;
}
body .pull-right a:hover{
    color: #fff!important;
}
.main-cabinet #title-page{
    text-align: center;
}
.main-cabinet{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}
.main-cabinet .content{
    display: inline-block;
    border: 1px solid #eee;
    padding: 20px;
}
.main-cabinet .content h2{
    color: rgba(156, 39, 176, 0.67);
}
#title-page-main{
    display: block;
    text-align: center;
}
.breadcrumb a{
    font-size: 11px;
}
fieldset{
    text-align: center;
}
.form-group.required label{
    width: 100%;
    display: block;
    text-align: center;
    padding: 0;
}
.form-group.required label+div{
    float: none;
    padding: 0;
    width: auto;
}
#search input{
    outline: none;
}
#scroller_container {
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
}
#scroller {
    list-style: none;
    white-space: nowrap;
    font-size: 14px;
    font-style: italic;
}
div.my-account.tg-account  div#my-account ul.dropdown-menu li a:hover {
    color: #fff !important;
}